.category-lists {
	*zoom: 1;
	margin: 0 -15px
}

.category-lists fieldset {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
	*width: 294px
}

.countdown-paused {
	visibility: hidden
}

.talk-form-post {
	margin-bottom: 10px
}

.talk-form-post textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100px
}

.ypop .talk-form-post {
	width: 40em
}

.ypop .talk-form-post-delete {
	width: 20em
}

#catEditPop {
	z-index: 1028
}

#catEditPop .ypop-inner {
	width: 465px
}

#catEditPop .categories {
	*zoom: 1;
	margin: 0 -15px
}

#catEditPop .column {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33333%;
	*width: 129px
}

.topics-list-actions {
	text-align: right
}

.topics-list-actions-item {
	display: inline-block;
	vertical-align: middle;
	text-align: left
}

.topics-list-actions-item+.topics-list-actions-item {
	margin-left: 12px
}

.topics-list-actions-item .i {
	vertical-align: middle
}

.topics-list-actions-item .scroll-to-link {
	text-decoration: none
}

.topics-list-header {
	*zoom: 1;
	margin: 0 -15px
}

.topics-list-header-title {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 75%;
	*width: 706px
}

.topics-list-header-actions {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 25%;
	*width: 211px
}

.topic-header, .topic-footer {
	display: table;
	width: 100%;
	margin-bottom: 6px
}

.topic-header.is-aligned>.topic-unit, .topic-footer.is-aligned>.topic-unit
	{
	vertical-align: middle
}

.topic-unit {
	display: table-cell
}

.topic-title {
	font-weight: normal
}

.topic-info {
	margin-left: 3px;
	text-align: right;
	white-space: nowrap
}

.topic-reply {
	*zoom: 1;
	margin: 0 -15px
}

.topic-reply>.ypassport-wrapper {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 33.33333%;
	*width: 211px
}

.topic-reply>.topic-reply-body {
	float: left;
	padding: 0 15px;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 66.66667%;
	*width: 459px
}

.topic-reply .time-stamp {
	margin-left: 3px
}

.ylist-bordered>.is-highlighted {
	margin-right: -15px;
	margin-left: -15px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: #f0f3f8;
	margin-top: -1px;
	border-top: 1px solid #e5e5e1
}

.talk-ad-top+.topics-list {
	border-top: 1px solid #e5e5e1
}

.category-lists:before, .category-lists:after {
	content: " ";
	display: table
}

.category-lists:after {
	clear: both
}

#catEditPop .categories:before, #catEditPop .categories:after {
	content: " ";
	display: table
}

#catEditPop .categories:after {
	clear: both
}

.topics-list-header:before, .topics-list-header:after {
	content: " ";
	display: table
}

.topics-list-header:after {
	clear: both
}

.topic-reply:before, .topic-reply:after {
	content: " ";
	display: table
}

.topic-reply:after {
	clear: both
}